@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background-color: #141414;
  color: #f5f5f5;
}

/* range slider accent */
input[type="range"] {
  accent-color: #e50914;
}
